<a data-ng-click="back()" class="btn btn-info pull-right" href="javascript:">Back</a>
 
<!--<div ng-show="favMovie">-->
    <div>
    <h3>{{favMovie.name}}
    </h3>
    <span data-ng-repeat="i in getCount(favMovie.rating) track by $index" class="glyphicon glyphicon-star"></span>
    <hr/>
    <div class="row">
        <div class="col-md-8">
            <form role="form" name="addData" data-ng-submit="addContent()">
                <div class="form-group">
                    <label for="qty">Name</label>
                    <input type="text" data-ng-model="addData.name" name="name" id="qty" placeholder="Name" value="1"  required>
                   
                </div>
                <div class="form-group">
                     <label for="qty">Email</label>
                    <input type="text" data-ng-model="addData.email" name="name" id="qty" placeholder="Email" value="1"  required>
                </div>

 
                <!--<button data-ng-disabled="!(bookTickets.qty.$valid)" type="submit" class="btn btn-default">Submit</button>-->
                <button  type="submit" class="btn btn-default">Submit</button>


                <p> <span data-ng-hide="addData.message" class=" alert-danger">{{addData.message}}</span></p>
            </form>
        </div>
        <div class="col-md-4">
            <h4>Review</h4>
            <label class="text-justify">
                <img data-ng-src="{{favMovie.thumb}}" class="bookThumb pull-left">{{favMovie.review}}
            </label>
        </div>
    </div>
</div>